@page "/Histor"
@inject HttpClient HttpClient
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
<style>
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('4357616.png');
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(1px);
        opacity: 0.5;
        z-index: -1;
    }
    @@media (max-width: 600px) {
    body::before {
        background-size: 50%;
    }
    }
    @@media (max-width: 800px) {
    body::before {
        background-size: 60%;
    }
    }
    .bold-line th {
        border-bottom: 3px solid black;
    }

    .bold-text {
        font-weight: bold;
        border-bottom: 3px solid black;
    }
</style>
<h3>История аренды</h3>

@if (isLoading)
{
    <p>Загрузка...</p>
}
else if (sortedRentals.Count == 0)
{
    <p>История аренды отсутствует.</p>
}
else
{
    <table class="table">
        <thead class="bold-line">
            <tr>
                <th>Старт</th>
                <th>Модель</th>
                <th>Кінець</th>
                <th>Ціна</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rental in sortedRentals)
            {
                <tr>
                    <td class="bold-text">@rental.StartTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    @if (@rental.ScooterModel != null)
                        {
                            @rental.ScooterModel.ToString();
                        }
                        else
                        {
                            <span>Пусто</span>
                        }
                    <td class="bold-text">@rental.ScooterModel</td>
                    <td class="bold-text">
                        @if (rental.EndTime != null)
                        {
                            @rental.EndTime.Value.ToString("yyyy-MM-dd HH:mm:ss")
                        }
                        else
                        {
                            <span>В процесі</span>
                        }

                    </td class="bold-text">
                    <td class="bold-text">@rental.RentalCost.ToString("0.00")</td>
                    <td class="bold-text">
                        @if (rental.EndTime == null)
                        {
                            <button class="btn btn-danger ml-2" @onclick="() => End(rental.Id)">Завершити</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DateTime StartTime;
    private Guid curSId;
    private List<Rental> rentals = new List<Rental>();
    private List<Rental> sortedRentals = new List<Rental>();
    private bool isLoading = true;
    public int cout;

    protected override async Task OnParametersSetAsync()
    {
        await LoadScooters();
    }
    private async Task LoadScooters()
    {
        try
        {
            var sessionIds = await LocalStorage.GetItemAsync<List<Guid>>("SessionIds");

            if (sessionIds == null || sessionIds.Count == 0)
            {
                isLoading = false;
                return;
            }

            var queryString = string.Join("&", sessionIds.Select(id => $"sessionIds={id}"));

            var response = await HttpClient.GetAsync($"ClientHistory?{queryString}");
            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<List<Rental>>();
                if (result != null)
                {
                    rentals = result;
                    sortedRentals = rentals.OrderBy(r => r.EndTime == null ? DateTime.MinValue : r.StartTime).ToList();
                }
            }
            else
            {
                Console.Error.WriteLine($"Error fetching rental history: {response.ReasonPhrase}");
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Exception occurred: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }


    private async Task End(Guid rentalId)
    {
        try
        {
            var response = await HttpClient.PostAsJsonAsync($"EndSession?rentalId={rentalId}", rentalId);
            if (response.IsSuccessStatusCode)
            {
                var rental = rentals.FirstOrDefault(r => r.Id == rentalId);
                Console.WriteLine($"Successfully ended session with id {rentalId}");
                await LoadScooters();
            }
            else
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                Console.Error.WriteLine($"Error ending session: {response.ReasonPhrase}");
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Exception occurred: {ex.Message}");
        }
    }

    public class Rental
    {
        public Guid Id { get; set; }
        public string? ScooterModel { get; set; }
        public DateTime StartTime { get; set; }
        public DateTime? EndTime { get; set; }
        public decimal RentalCost { get; set; }
    }

     
}
