@page "/List"
@using System.Net.Http
@using System.Net.Http.Json
@using RentalFront.Models
@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<style>
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('4357616.png');
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(1px);
        opacity: 0.5;
        z-index: -1;
    }

    @@media (max-width: 600px) {
        body::before {
            background-size: 50%;
        }
    }

    @@media (max-width: 800px) {
        body::before {
            background-size: 60%;
        }
    }

    .bold-line th {
        border-bottom: 3px solid black;
    }

    .bold-text {
        font-weight: bold;
        border-bottom: 3px solid black;
    }

    .header-container {
        display: flex;
        align-items: center;
    }

        .header-container .btn {
            margin-right: 10px;
        }

    .alert {
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>

<div class="header-container">
    <button class="btn btn-primary" @onclick="RefreshData">Оновити</button>
    <h3>Доступні Самокати для прокату</h3>
</div>
@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}
@if (successMessage != null)
{
    <div class="alert alert-success">@successMessage</div>
}
@if (scooters == null)
{
    <p>Завнтаження...</p>
}
else if (!scooters.Any())
{
    <p>Самокати недоступні для прокату.</p>
}
else
{
    <table class="table">
        <thead class="bold-line">
            <tr>
                <th>ID</th>
                <th>Модель</th>
                <th>Статус</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scooter in availableScooters)
            {
                <tr>
                    <td class="bold-text">@scooter.Id.ToString().Substring(0, 4)</td>
                    <td class="bold-text">@scooter.Model</td>
                    <td class="bold-text">@(scooter.Status ? "Доступні" : "Недоступні")</td>
                    <td class="bold-text">
                        <button class="btn btn-success" @onclick="() => OrderScooter(scooter.Id)">Замовити</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Scooter> scooters;
    private List<Scooter> availableScooters;
    private string errorMessage;
    private string successMessage;

    protected override async Task OnInitializedAsync()
    {
        await LoadScooters();
    }

    private async Task RefreshData()
    {
        errorMessage = null;
        successMessage = null;
        await LoadScooters();
    }

    private async Task LoadScooters()
    {
        try
        {
            scooters = await HttpClient.GetFromJsonAsync<List<Scooter>>("/api/v1/scooter");
            availableScooters = scooters?.Where(s => s.Status).ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching scooters: {ex.Message}");
            scooters = new List<Scooter>();
            availableScooters = new List<Scooter>();
        }
    }

    private async Task OrderScooter(Guid id)
    {
        try
        {
            errorMessage = null;
            successMessage = null;
            var clientId = await SessionStorage.GetItemAsync<Guid>("clientId");
            var response = await HttpClient.PostAsJsonAsync($"StartSession?clientId={clientId}&scooterId={id}", new { clientId, scooterId = id });

            if (response.IsSuccessStatusCode)
            {
                var responseData = await response.Content.ReadFromJsonAsync<Guid>();

                if (responseData != Guid.Empty)
                {
                    var sesId = await SessionStorage.GetItemAsync<List<Guid>>("SessionIds");

                    if (sesId != null)
                    {
                        sesId.Add(responseData);
                    }
                    else
                    {
                        sesId = new List<Guid> { responseData };
                    }

                    await SessionStorage.SetItemAsync("SessionIds", sesId);
                    successMessage = $"Successfully ordered scooter with ID: {id}";
                }
                else
                {
                    errorMessage = "Failed to get a valid session ID from the response.";
                }
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
            {
                var errorResponse = await response.Content.ReadAsStringAsync();
                errorMessage = $"Error ordering scooter: {errorResponse}";
            }
            else
            {
                var errorResponse = await response.Content.ReadAsStringAsync();
                errorMessage = $"Unexpected error: {response.ReasonPhrase}, {errorResponse}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Exception occurred: {ex.Message}";
        }
        finally
        {
            await LoadScooters();
        }
    }
}
